<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.careeranna.careeranna">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NOTIFICATION_POLICY" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission
        android:name="android.permission.READ_SMS"
        tools:node="remove" />
    <uses-permission
        android:name="android.permission.RECEIVE_SMS"
        tools:node="remove" />
    <uses-permission
        android:name="android.permission.SEND_SMS"
        tools:node="remove" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:replace="android:allowBackup">
        <activity android:name=".activity.PurchaseCourseActivity"
            android:configChanges="orientation|screenSize|screenLayout"
            android:parentActivityName=".activity.MyCourses"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".activity.PaymentMethodActivity"
            android:label="Payment Method" />
        <activity android:name=".activity.PaymentGateway" />
        <activity
            android:name=".activity.MainActivity"
            android:configChanges="locale"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            android:name=".service.MyMessagingService"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />
        <meta-data
            android:name="JW_LICENSE_KEY"
            android:value="PBqloWZ7+cg1wh3h3P0dnaBB2Lgrqn/GgQUsBG6Rb+bq/TiW" />

        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name" />
        <activity
            android:name=".activity.SignInActivity"
            android:configChanges="locale"
            android:label="Sign In"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Design.Light.NoActionBar"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".activity.MyCourses"
            android:configChanges="orientation|screenSize|screenLayout|locale"
            android:label="MyCourses"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".ParticularCourse"
            android:configChanges="orientation|screenSize|screenLayout"
            android:parentActivityName=".activity.MyCourses"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".Pdf"
            android:configChanges="orientation|screenSize|screenLayout"
            android:label="Pdf View"
            android:windowSoftInputMode="adjustPan" />

        <service android:name=".service.VideoService" />

        <activity
            android:name=".activity.ParticularArticleActivity"
            android:label="Article"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".activity.Payment"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".activity.PasswordReset"
            android:label="Password Reset"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity android:name=".activity.PaytmPayment" />
        <activity
            android:name=".InstructorProfileActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".InstructorsListActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".user.MyProfile_2"
            android:screenOrientation="portrait"
            android:theme="@style/UserProfileTheme"
            android:windowSoftInputMode="adjustPan" />

        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@drawable/ic_stat_name" />
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_color"
            android:resource="@color/sign_in_button_color" />

        <service
            android:name=".service.MyFirebaseInstanceIDService"
            android:stopWithTask="false">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>

        <activity
            android:name=".Exams"
            android:configChanges="orientation|screenSize|screenLayout"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".activity.ExploreNotSignActivity"
            android:label="Explore"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".activity.NotificationActivity"
            android:label="My Notifications"
            android:parentActivityName=".activity.MyCourses" />
    </application>

</manifest>