<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.careeranna.careeranna">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />


    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activity.MainActivity"
            android:screenOrientation="portrait"
            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />
        <meta-data
            android:name="JW_LICENSE_KEY"
            android:value="PBqloWZ7+cg1wh3h3P0dnaBB2Lgrqn/GgQUsBG6Rb+bq/TiW" />

        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name" />
        <activity
            android:name="com.facebook.CustomTabActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="@string/fb_login_protocol_scheme" />
            </intent-filter>
        </activity>
        <activity
            android:name=".user.SignUp"
            android:screenOrientation="portrait"
            android:label="Sign In" />
        <activity
            android:name=".activity.MyCourses"
            android:windowSoftInputMode="adjustPan"
            android:screenOrientation="portrait"
            android:configChanges="orientation|screenSize|screenLayout"
            android:label="MyCourses" />
        <activity
            android:screenOrientation="portrait"
            android:name=".user.Register"
            android:label="Create An Account" />
        <activity
            android:name=".ParticularCourse"
            android:screenOrientation="portrait"
            android:configChanges="orientation|screenSize|screenLayout" />
        <activity android:name=".Pdf"
            android:label="Pdf View"
            android:configChanges="orientation|screenSize|screenLayout"
            />
        <service android:name=".service.VideoService" />

        <activity
            android:name=".activity.ParticularArticleActivity"
            android:screenOrientation="portrait"
            android:label="Article" />
        <activity
            android:screenOrientation="portrait"
            android:name=".ExamPrepActivity"
            android:label="Examp Prep" />
        <activity
            android:name=".MyExamPrepActivity"
            android:screenOrientation="portrait"
            android:label="My Exam Prep" />
        <activity android:name=".activity.Payment"
            android:screenOrientation="portrait"
            />
        <activity
            android:name=".activity.PasswordReset"
            android:screenOrientation="portrait"
            android:label="Password Reset" />
        <activity android:name=".activity.PurchaseCourseDetail"
            android:screenOrientation="portrait"
            android:configChanges="orientation|screenSize|screenLayout"
            />
        <activity android:name=".activity.PaytmPayment" />
        <activity android:name=".ExampPrepParticular"
            android:screenOrientation="portrait"
            />
        <activity
            android:screenOrientation="portrait"
            android:name=".activity.FilterOfCategory"
            android:label="Filter Course" />
        <activity
            android:screenOrientation="portrait"
            android:name=".activity.SortByCourse"
            android:label="Sort Course" />
        <activity android:name=".InstructorProfileActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".InstructorsListActivity"
            android:screenOrientation="portrait"
            />
        <activity
            android:screenOrientation="portrait"
            android:name=".user.MyProfile_2"
            android:theme="@style/UserProfileTheme" />

        <activity
            android:name=".activity.VideoWithComment"
            android:configChanges="orientation|screenSize|screenLayout|keyboardHidden"
            />
        <activity android:name=".Exams"
            android:configChanges="orientation|screenSize|screenLayout" />
        <activity
            android:screenOrientation="portrait"
            android:name=".activity.ExploreNotSignActivity"
            android:label="Explore" />
        <activity android:name=".activity.PurchaseCourseDetail2" />
    </application>

</manifest>